* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header-logo {
    background-color: pink;
    padding: 20px;
  }
  .header-logo .test {
    font-size: 36px;
    text-decoration: none;
    text-align: center;
  }
  
  .header-logo .test i {
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    vertical-align: bottom;
    color: red;
    display: inline-block;
  }
  