/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }
  
  /* Header Styles */
  header {
    background-color: white; /* Đổi màu nền thành trắng */
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 24px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .logo i {
    font-size: 24px;
    margin-right: 10px;
    color: #002146; /* Màu của biểu tượng */
  }
  
  .logo span {
    color: #1b1d2d; /* Màu của chữ "Mastery" */
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .header-nav ul {
    list-style: none;
    display: flex;
    gap: 40px; /* Khoảng cách giữa các mục menu */
  }
  
  .header-nav ul li a {
    font-size: 18px; /* Tăng kích thước chữ */
    color: #000; /* Màu chữ */
    font-weight: 600;
  }
  